/*
* -- Global --
*/

* {
    font-family: "Clear Sans", Helvetica, sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

.row a {
    text-decoration: none;
    color: black;
    font-size:inherit;
}

.row a:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 153, 255, 0.26);
}

.row a:active {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 153, 255, 0.26);
}



/*
* -- Sidebar --
*/


.sidebar {
    top: -45px;
    padding-top: 20px;
    overflow-x: hidden;
    background-color: #efefef;
    border-right: 1px solid #d1d1d1;
    min-height: 100vh;
}

.sidebar h3 {
    border-top:1px solid #eee;
    padding-top: 5px;
    font-weight:500;
    font-size: 1.25rem;
}

.box form{
    margin-left: -13px;
}


#upload_btn{
    margin-left: 13px;
}



/*
* -- Navbar and logos --
*/


#logo{
    float:right;
    height:30px;
    margin-top: -4px;
    margin-right:10px;
}

#logo_eihort{
    display: block;
    height: 40px;
    width: 40px;
    background: url(../img/En.svg);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    opacity: 0.9;
}


#logo_eihort:hover{
    opacity: 1;
    transition-duration: 1s;
}


/*
* -- Misc --
*/

.h3{
    padding-top: 10px;
}

hr {
    margin-top: 5px;
}


#error{
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 5px;
    margin-top:50px;
    border: 1px solid black;
    color: #b70303;
}

.bold {
    font-weight: 500;
    font-size:17px;
}

.extra-margin{
    margin-top: 10px;
}


