@import "application.css";

#results {
    margin-top: 30px;
}

#heatmapDiv {
    width: 1000px;
    min-height: 800px;
}

#container * {
    overflow: visible !important;
}

.main-svg {
    overflow: visible !important;
}

#legend:hover:after {
    content: url(../img/legend.png);
    display: block;
    position: absolute;
    z-index: 1000;
}

#hotspots {
    height: 50px;
    transition: height 0.5s;
    float: left;
    width: 98.5%;
}

.hotspot {
    width: 0.5%;
    height: inherit;
    float: left;
}

.hotspots_inner {
    margin-bottom: 10px;
    width: inherit;
    height: inherit;
}

.hotspot_name {
    float: left;
}

#chrsizes {
    width: inherit;
    margin-bottom: 100px;
}

.chrbar {
    height: 10px;
    border-right: 1px solid black;
    float: left;
}

.chrbar div {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: -25px;
    transform-origin: -2% 100%;
}

