@import "application.css";

#results {
    margin-top: 30px;
}

#heatmapDiv {
    width: 1000px;
    min-height: 800px;
}

#container * {
    overflow: visible !important;
}

.main-svg {
    overflow: visible !important;
}

#legend:hover:after {
    content: url(../img/legend.png);
    display: block;
    position: absolute;
    z-index: 1000;
}

