@import "application.css";
/*
* -- Plots --
*/

.box{
    margin-bottom: 20px;
}

.bars{
    min-width: 200px;
}

.bar{
    height: 10px;
    margin-top: 3px;
}

.measured{
    background-color: #337ab7;
}

.expected{
    background-color: RGBA(85, 85, 85, 0.41);
}

.nameplot{
    width:400px;
    height:200px;
}

#plots {
    height: 450px;
}

/*
* -- Nav tabs--
*/

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs li a {
    font-size: 12px;
    outline: 0;
}

/*
* -- Table --
*/

table{
    margin-top: 10px;
}

table td .accordion-toggle{
    overflow:hidden;
    white-space:nowrap;
}

.hiddenRow{
    padding: 0 !important;
}

.fixed {
    table-layout:fixed;
}
.fixed td {
    overflow: hidden;
}

th{
    font-weight:500;
    font-size: 17px;
}

.container .table td {
    border: none;
}

.container .table tr {
    border-bottom: 1px solid white;
}

.container .table .hiddenRow td {
    border-top: 1px solid #ddd;
}

.trackbox {
    border: 1px solid #ddd;
    margin: 15px;
    padding: 15px;
}

.desc{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.tracktable {
    margin-left: 10px;
}

.dattable {
    margin-left: 10px;
}

.packrow {
    border-left: 2px solid #000046;
    background-color: rgba(242, 242, 245, 0.52);
}

.trackrow {
    border-left: 2px solid #0000d5;
}

.datrow {
    border-left: 2px solid #769fff;
}

.boxplot {
    width: 100%;
    height: 16px;
    margin-top: 2px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.boxplotbar {
    height: 16px;
    width: 0;
    float: left;
    border: 1px solid #4b4b4b;
    background-color: #337ab7;
}

.sd {
    height: 2px;
    width: 0;
    margin-top: 7px;
    float: left;
    background-color: #4b4b4b;
}

.boxplotmean {
    height: 14px;
    width: 2px;
    background-color: #4b4b4b;
    float: left;
}


/*
* -- Buttons left --
*/

.add{
    font-size: 30px;
}

.fileinfo p{
    margin-bottom: 0;
    overflow: hidden;
}

.fileinfo input{
    margin-left:50px;
    width:80px;
    border: none;
}

.fileinfo .file_positions{
    margin-left: 95px;
}

#rerun{
    margin-top:10px;
}

#runnotice {
    color: grey;
    float: left;
}

.bottom{
    margin-top: 11px;
}

#savebtn{
    color: rgba(51,51,51,0.8);
}

/* btn hovers: */

#savebtn:hover:before{
    content: "Download results";
}

#changetracksbtn:hover:before{
    content: "Change tracks";
}

#settingsbtn:hover:before{
    content: "Settings";
}

#clearbtn:hover:before{
    content: "Clear session";
}


a span .glyphicon{
    color: inherit;
}

label{
    font-weight: 400;
}

#hotspots{
    height:10px;
    transition:height 0.5s;
    float: left;
    width: 98.5%;
}

#hotspot_info{
    float: left;
    font-size:10px;
    color: #7493af;
}

#hotspots:hover{
    height:80px;
}

.hotspot{
    width: 0.5%;
    height:inherit;
    float: left;
}

.hotspot2 {
    float: left;
    height: 200px;
    width: 0.5%;
}

#hotspotsfull {
    width: 1400px;
    height: 200px;
}

#chrsizes {
    width: 1400px;
    margin-bottom: 100px;
}

.chrbar {
    height: 10px;
    border-right: 1px solid black;
    float: left;
}

.chrbar div {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: -25px;
    transform-origin: -2% 124%;
}

#radarChart {
    height: 400px;
    width: 500px;
    float: left;
}

#radarChart svg {
    overflow: visible;
}


#scatterChart {
    height: 400px;
    width: 400px;
    float: left;
}

#scatterChart * {
    overflow: visible;
}

#italic {
    font-style: italic;
    font-size: 8pt;
}


/*
* -- sequence logo
*/

#seqlogorow {
    border-left: 2px solid #ff5100;
    background-color: whitesmoke;
}

#seqlogorow:hover {
    background-color: #f5f5f5;
}

#sequencelogo{
    display: block;
    width: 90%;
    height:170px;
    font: 10px Arial;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.letter-A {
    fill: rgba(0, 128, 0, 0.58);
    font-weight: bold;
}
.letter-C {
    fill: rgba(0, 0, 255, 0.71);
    font-weight: bold;
}
.letter-T {
    fill: rgba(255, 0, 0, 0.74);
    font-weight: bold;
}
.letter-G {
    fill: rgba(255, 255, 0, 0.8);
    font-weight: bold;
}

/*
* -- Misc --
*/


#new{
    width: 500px;
    margin-top: 170px;
    margin-left: inherit;
    padding: 5px
}

#rexport textarea {
    width: 800px;
    height: 800px;
}

/*
* Detailed View
 */

#histogram {
    height: 800px;
    min-width: 600px;
}

#barplot {
    height: 800px;
    min-width: 600px;
}

#histogramdesc {
    width: 700px;
}

#barplotdesc {
    width: 700px;
}

.left {
    float: left;
}

.right {
    float: right;
}
