.border{
    border-bottom:3px solid white;
    padding: 5px;
}

.container{
    margin-top: 10px;
}

.wizinfo {
    font-size: 19px;
    color: white;
    float: right;
}

img {
    margin-bottom: 30px;
}

.right {
    float: right;
    margin-right: 5px;
}

h4{
    font-size: 13px;
}

#left {
    float: left;
    width:50%;
}
#right{
    float: left;
    width:50%;
}

#uploadbtn {
    margin-left: 13px;
    visibility: hidden;
}

#wizard {
    margin-left:100px;
}

.dropdown {
    position: absolute;
}

#workflowsvg{
    width:70%;
}

#wizardouter {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width:100%;
    min-height:400px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

#wizardheader {
    background-color: rgba(55, 200, 240, 1);
    box-shadow: 0px 6px 4px 0px rgba(70, 164, 201, 0.5);
    height:50px;
    width:100%;
    padding: 10px;
    color: white;
}


#header_out{
    overflow:hidden;
}


#header_in1{
    float: left;
    width:400px;
}

#header_in2{
    float: right;
    overflow: hidden;
}

#counter{
    color: #9f9f9f;
    font-size:10px;
    float: right;
}
