/*
* Presets
 */


#presets{
    height: 200px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    position: absolute;
}

.preset label{
    font-weight:500;
}

.preset input{
    margin-right:3px;
}


.preset input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-color: white;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0;
    padding:0;
    -webkit-box-shadow: inset 0px 0px 1px 2px rgba(0,0,145,1);
    -moz-box-shadow: inset 0px 0px 1px 2px rgba(0,0,145,1);
    box-shadow: inset 0px 0px 1px 2px rgba(0,0,145,1);
}


.preset input[type="checkbox"]:checked{
    background-color: rgb(255, 133, 56);
}

/*
* Data Table
 */

#datatable{
    overflow-x: visible;
}
table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    margin-top: 150px;
}

.trackname{
    overflow: hidden;
    width:200px;
    font-weight:normal;
    font-size: 13px;
    margin-left: -16px;
    padding-left: 5px;
    margin-top:4px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.square{
    height:22px;
    width:22px;
    margin:0;
    padding:0;
}

table input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-color: rgb(0, 0, 145);
    width: 21.5px;
    height: 21.5px;
    margin: 0;
    padding:0;
    position: absolute;
}

table input[type="checkbox"]:hover{
    background-color: rgba(0, 0, 238, 0.71);

}

table input[type="checkbox"]:checked {
    background-color: rgb(255, 133, 56);

}

.table tbody tr .rowheader{
    font-size: 13px;
    padding: 0;
    line-height:1;
    vertical-align: middle;
    cursor: pointer;
}

.table tbody tr .row{
    padding: 0;
    height:22px;
}

.table .clrow:hover{
    background-color: rgba(0, 0, 238, 0.5);
}


td{
    border: 1px solid #ccc;
}

.colheader{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width:15px;
    padding:0;
    margin:0;
    white-space:nowrap;
    font-size: 12px;
    font-weight:normal;
}
