@import "application.css";
/*
* -- Plots --
*/

.box{
    margin-bottom: 20px;
}

.bars{
    min-width: 200px;
}

.bar{
    height: 10px;
    margin-top: 3px;
}

.measured{
    background-color: #337ab7;
}

.expected{
    background-color: RGBA(85, 85, 85, 0.41);
}

.nameplot{
    width:400px;
    height:200px;
}


/*
* -- Table --
*/

.container{
    margin-top: 40px;
}


table{
    margin-top: 10px;
}

table td .accordion-toggle{
    overflow:hidden;
    white-space:nowrap;
}

.hiddenRow{
    padding: 0 !important;
}

.fixed {
    table-layout:fixed;
}
.fixed td {
    overflow: hidden;
}

th{
    font-weight:500;
    font-size: 17px;
}

.desc{
    font-size: 16px;
}

/*
* -- Buttons left --
*/

.add{
    font-size: 30px;
}

.fileinfo p{
    margin-bottom: 0;
}

.fileinfo input{
    margin-left:6px;
    width:80px;
    border: none;
}

.fileinfo .file_positions{
    margin-left: 105px;
}

#rerun{
    margin-top:10px;
}

.bottom{
    margin-top: 11px;
}

#save{
    color: rgba(51,51,51,0.8);
}

label{
    font-weight: 400;
}

#hotspots{
    width: 1200px;
    height:10px;
    transition:height 0.5s;
}
#hotspots:hover{
    height:50px;
}

.hotspot{
    width:1.5px;
    height:inherit;
    float: left;
    filter: inherit;
}



/*
* -- sequence logo
*/

#sequencelogo{
    width: 600px;
    height:170px;
    font: 10px Arial;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.letter-A {
    fill: rgba(0, 128, 0, 0.58);
    font-weight: bold;
}
.letter-C {
    fill: rgba(0, 0, 255, 0.71);
    font-weight: bold;
}
.letter-T {
    fill: rgba(255, 0, 0, 0.74);
    font-weight: bold;
}
.letter-G {
    fill: rgba(255, 255, 0, 0.8);
    font-weight: bold;
}

/*
* -- Misc --
*/


#new{
    width: 500px;
    margin-top: 170px;
    margin-left: inherit;
    padding: 5px
}

