@import "application.css";
/*
* -- Plots --
*/

.box{
    margin-bottom: 20px;
}

.bars{
    min-width: 200px;
}

.bar{
    height: 10px;
    margin-top: 3px;
}

.measured{
    background-color: #337ab7;
}

.expected{
    background-color: RGBA(85, 85, 85, 0.41);
}

.nameplot{
    width:400px;
    height:200px;
}


/*
* -- Table --
*/


table{
    margin-bottom:50px;
}

table td .accordion-toggle{
    overflow:hidden;
    white-space:nowrap;
}

.hiddenRow{
    padding: 0 !important;
}

.fixed {
    table-layout:fixed;
}
.fixed td {
    overflow: hidden;
}

th{
    font-weight:500;
    font-size: 17px;
}

.desc{
    font-size: 16px;
}

/*
* -- Buttons left --
*/

.add{
    font-size: 30px;
}

.fileinfo p{
    margin-bottom: 0px;
}

.fileinfo input{
    margin-left:10px;
    width:80px;
    border: none;
}

.fileinfo .file_positions{
    margin-left: 105px;
}

#rerun{
    margin-top:10px;
}

/*
* -- Misc --
*/


#new{
    width: 500px;
    margin-top: 170px;
    margin-left: inherit;
    padding: 5px
}
