<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">



  <body>
      <div th:fragment="add_track">

        <!-- Modal -->
        <div class="modal fade" id="add_track" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add or create custom track</h4>
              </div>
              <div class="modal-body">
                <div>

                  <h3>Upload track</h3>
                  <form method="POST" enctype="multipart/form-data" action="/upload_track">
                    <input type="file" name="file" id="file" class="btn"/>
                    <button class="btn btn-default">Upload</button>
                  </form>
                </div>


                <form action="#" th:action="@{/trackbuilder}" th:object="${expressionCommand}" method="post" id="create_track">
                   <input title="Expression" type="text" id="expression" name="expression" th:field="*{expression}" form="create_track" />
                   <input type="submit" form="create_track">
                </form>


                  <table>
                      <th:block th:each="result: ${results_inout}">
                          <td th:text="${result.id}"></td>
                          <td th:text="${result.name}"></td>
                      </th:block>
                  </table>


              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>

  </body>

</html>