<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Enhort - FAQ</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" href="../static/css/faq.css" th:href="@{/css/faq.css}" />

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}" ></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>

</head>

<body style="padding-top: 100px">

    <div th:include="header:: bar"></div>

    <div class="col-xs-2 col-sm-3 col-md-2 sidebar">
        <div th:include="upload:: upload"></div>
    </div>



    <div class="col-xs-10 col-xs-offset-2 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="container row col-md-12">
            <img src="title_logo.png"/>

            <div class="container row col-md-12">

                <h3>What is this for</h3>
                <hr/>
                <p> An analyzing tool for genomic positions. </p>

                <h3>How to use this tool</h3>
                <hr/>
                <p> Select a file in BED-format in the upload form in the right panel and start the upload. The middle table shows all tracks on which the uploaded data deviates from random.</p>
                <p> The tracks are sorted by their effect size. Each table can be expanded by clicking the row to view more detailed information.</p>
                <p> The checkbox on the right is used to mark a track as covariant. After selecting one or more covariants the model has to be created and run again. This is done by using the blue 'Run again' button on the left.</p>
                <p> Tracks selected as covariant now appear in the table on the right with a high p-value. Which means that the background positions are now fitted to the uploaded data on this track</p>
                <p> For a more detailed explanation see the publication: (not published yet) </p>

                <h3>How is the Fold Change calculated</h3>
                <hr/>
                <p> If data and background inside counts are below .5% the value is set to 0.0</p>
                <p> If one of the counts is 0 the value is set to POSITIVE_INFINITY</p>
                <p> In all other cases the inside and outside counts of data and background are divided and the absolute log2 is returned. </p>

                <h3>If a scored track is set as covariant, the P-value is not always exact 1</h3>
                <hr/>
                <p>In contrast to basic inside/outside tracks the background model creation for scored tracks works with an expectancy value. Thus the counts to do excacly match.</p>
                <p>However, the p-value is above the 5% significant level in most cases.</p>

                <h3>Why is the P Value exact 0.0?</h3>
                <hr/>
                <p>The P Value is calculated using the <a href="https://commons.apache.org/">Apache Commons API</a> as double values. Values smaller than the maximal precision is set to 0.</p>


                <h3>Why is contigs the most significant track?</h3>
                <hr/>
                <p>Background positions are set random. Thus they tend be in parts of the genome were no virus can integrate or no integration can be sequenced. Set the 'contigs' track as covariant to adjust the background model.</p>

                <h3>What does the influence factor change?</h3>
                <hr/>
                <p>The influence factor changes the factor by which a background model with one or more covariants is influenced by the covariants. A value close to 1 sets the random position with the same expectancy value as the covariants have. </p>
                <p> Close to 0 the background positions are normaly distributed as if there were no covariants.</p>


                <h3>How to download background positions?</h3>
                <hr/>
                <p>After a run 'Background positions' under 'Information' in the left bar is a link leading to the data.</p>

                <h3>How can there be more positions displayed in covariates in comparison to the Information on the left?</h3>
                <hr/>
                <p>The Information-Panel on the left shows the minimal positions count which is sent to the backend server. However, depending on the background model the count of positions needs to be increased to fit a certain distribution. The Information value remains unchanged by that.</p>

                <h3>Where does the name/ logo come from</h3>
                <hr/>
                <p> The name is an alteration of Eihort. A monster created by the author H.P. Lovecraft. </p>
                <p> Eihort (The Pale Beast) is a huge, pale, gelatinous, oval-shaped monstrosity covered in myriads of eyes and supported by thousands of bony, fleshless legs.</p>
                <p> Whenever Eihort encounters a human, it makes a bargain with them. If the human declines, Eihort kills the human. If the human accepts, Eihort implants a undeveloped brood into their body. When the brood hatches it will kill the human host. According to the Revelations of Glaaki, after the fall of humanity, Eihort's brood will be born into light and replace humanity.</p>
                <p>From <a href="http://lovecraft.wikia.com/wiki/Eihort">http://lovecraft.wikia.com/wiki/Eihort</a></p>

                <p>The base image is taken from <a href="http://draguunthor.deviantart.com/art/Mythos-Minis-143564593">here</a>.</p>

                <p>Credit goes to Draguunthor.</p>

                <h3>How are the random numbers generated?</h3>
                <p>The application uses the <a href="http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/emt.html"> Mersenne Twister Algorithm</a>.</p>

                <h3>How to cite</h3>
                <hr/>
                <p>There is no published paper yet.</p>

                <p>However, there was a poster presentation at <a href="https://www.gcb2016.de/home">GCB 2016</a>. A .pdf version of the poster can be found here: <a th:href="@{files/GCB_Enhort_Poster.pdf}">GCB 2016 Poster</a></p>

            </div>
        </div>

    </div>
</body>
</html>