<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enhort - FAQ</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" href="../static/css/faq.css" th:href="@{/css/faq.css}" />

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}" ></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>

</head>

<body style="padding-top: 100px">

    <div th:include="header:: bar"></div>

    <div class="col-sm-3 col-md-2 sidebar">
        <div th:include="upload:: upload"></div>
    </div>



    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

        <div class="container row col-md-12">
            <img src="title_logo.png">

            <div class="container row col-md-12">

                <h3>What is this</h3>
                <hr>
                <p> An analyzing tool for genomic positions. </p>

                <h3>How to use</h3>
                <hr>
                <p>Nam eu aliquam libero. Aliquam odio lectus, ultrices ac nibh at, pretium faucibus mi. Phasellus hendrerit luctus lectus. Suspendisse et diam rhoncus, ullamcorper nibh id, ullamcorper lectus. Aliquam fringilla dapibus ullamcorper. Donec vitae velit at diam sagittis vehicula vel ut nisi. Sed id placerat mi, et viverra augue. Nam commodo tincidunt lorem, sit amet bibendum eros mattis eu. Maecenas et tellus rhoncus, posuere libero et, malesuada lorem. Maecenas eget tempor elit, non tempor nibh. Sed porttitor efficitur neque, nec porttitor lorem rhoncus at. Phasellus malesuada massa purus, vel varius lectus vulputate vitae. Nunc aliquam mauris eu ante suscipit, vitae malesuada neque commodo. Mauris egestas aliquam est, a venenatis neque elementum sit amet.
                </p>


                <h3>How to cite</h3>
                <hr>
                <p>There is no published paper yet.</p>


                <h3>Where does the name/ logo come from</h3>
                <hr>
                <p> The name is an alteration of Eihort. A monster created by the author H.P. Lovecraft. </p>
                <p> Eihort (The Pale Beast) is a huge, pale, gelatinous, oval-shaped monstrosity covered in myriads of eyes and supported by thousands of bony, fleshless legs.</p>
                <p> Whenever Eihort encounters a human, it makes a bargain with them. If the human declines, Eihort kills the human. If the human accepts, Eihort implants a undeveloped brood into their body. When the brood hatches it will kill the human host. According to the Revelations of Glaaki, after the fall of humanity, Eihort's brood will be born into light and replace humanity.</p>
                <p>From <a href="http://lovecraft.wikia.com/wiki/Eihort">http://lovecraft.wikia.com/wiki/Eihort</a></p>

                <br>
                <p>The base image is taken from <a href="http://draguunthor.deviantart.com/art/Mythos-Minis-143564593">here</a>.</p>

                <p>Credit goes to Draguunthor.</p>

            </div>
        </div>

    </div>
</body>
</html>