<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stat</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link rel="stylesheet" media="screen" href="../static/css/result.css" th:href="@{/css/result.css}" />
</head>

<body style="padding-top: 100px">

    <div th:include="header:: bar"></div>

    <div class="col-sm-3 col-md-2 sidebar">
        <div th:include="upload:: upload"></div>
    </div>



    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="container row col-md-12">

            <div class="container row col-md-12">

                <table class="table table-hover table-condensed table-striped">
                    <thead>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Program version</td>
                            <td th:text="${version}"></td>
                        </tr>

                        <tr>
                            <td>Files uploaded</td>
                            <td th:text="${fileCount}"></td>
                        </tr>
                        <tr>
                            <td>Analysis count</td>
                            <td th:text="${analyseCount}"></td>
                        </tr>
                        <tr>
                            <td>Sessions count</td>
                            <td th:text="${sessionCount}"></td>
                        </tr>

                        <tr>
                            <td>Errors</td>
                            <td th:text="${errorCount}"></td>
                        </tr>

                        <tr>
                            <td>Downloaded results</td>
                            <td th:text="${downloadCount}"></td>
                        </tr>

                    </tbody>
                </table>

                <div>
                    <table class="table table-hover table-condensed table-striped">
                        <tbody>
                            <tr th:each="item : ${memory_items}">
                                <td th:text="${item}"></td>
                            </tr>
                        </tbody>


                    </table>


                </div>
            </div>

        </div>
    </div>
</body>
</html>