<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
      <div th:fragment="upload">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Upload other file
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                    <form method="POST" enctype="multipart/form-data" action="/upload">
                      <div class="form-group">
                        <input type="file" name="file" id="file">
                        <input type="hidden" name="name" value="foo">
                      </div>
                      <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>

</html>