<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

  <body>
      <div th:fragment="upload">
      <div class="box">
        <h4> Upload other file </h4>
        <form method="POST" enctype="multipart/form-data" action="/upload">
          <div>
            <input type="file" name="file" id="file" class="btn">
            <input type="hidden" name="name" value="foo">
          </div>
          <button type="submit" class="btn btn-primary" id="upload_btn">Upload</button>
        </form>
      </div>
      </div>

  </body>

</html>