<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

  <body>
      <div th:fragment="uploadbg">
        <div class="box">
        <h4> Upload background</h4>
        <form method="POST" enctype="multipart/form-data" action="/uploadbg">
          <div>
            <input type="file" name="file" id="file" class="btn"/>
          </div>
          <button type="submit" class="btn btn-default" id="upload_btn">Upload</button>
        </form>
        </div>
      </div>

  </body>

</html>