<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Enhort - FAQ</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/faq.css" th:href="@{/css/faq.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/result.css" th:href="@{/css/result.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/celllinetree.css" th:href="@{/css/celllinetree.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/wizard.css" th:href="@{/css/wizard.css}"/>

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

</head>

<body style="padding-top: 100px">

<div th:include="header:: bar"></div>

<div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-7 col-md-offset-2 main">
    <div class="container row col-md-12">

        <th:block th:switch="${page}">
            <th:block th:case="'upload'">
                <object id="workflowsvg" data="img/wizbar_small1.svg" type="image/svg+xml"></object>
                <img id="wizard" src="title_logo_wizard.png">

                <div id="wizardheader">
                   Upload File
                    <div class="right">
                        Step 1 of 3
                    </div>
                </div>

            </th:block>
            <th:block th:case="'packages'">
                <object id="workflowsvg" data="img/wizbar_small2.svg" type="image/svg+xml" onclick="window.history.back();"></object>
                <img id="wizard" src="title_logo_wizard.png">

                 <div id="wizardheader">
                   Select Annotations
                    <div class="right">
                        Step 2 of 3
                    </div>
                 </div>


            </th:block>
            <th:block th:case="'covariates'">
                <object id="workflowsvg" data="img/wizbar_small3.svg" type="image/svg+xml" onclick="window.history.back();"></object>
                <img id="wizard" src="title_logo_wizard.png">

                <div id="wizardheader">
                   Select Covariates
                    <div class="right">
                        Step 3 of 3
                    </div>
                </div>

            </th:block>
        </th:block>



        <div id="wizardouter">

            <th:block th:switch="${page}">
                <th:block th:case="'upload'">
                    <p>Please upload a bed-file with genomic positions:</p>
                    <div class="box">
                        <form method="POST" enctype="multipart/form-data" action="/wiz" id="uploadform">
                            <!-- Bed file -->
                            <div>
                                <input type="file" name="file" id="file" class="btn"/>
                                <button onclick="this.disabled=true;this.form.submit();" class="btn" id="uploadbtn">Continue</button>
                            </div>

                        </form>
                    </div>
                </th:block>


                <th:block th:case="'packages'">
                    <!-- Cell line -->

                    <form method="POST" enctype="multipart/form-data" action="/wiz" id="uploadform">

                        <input style="display: none" type="file" name="file" id="file"/>

                        <p>
                            <!-- Assembly -->

                            The positions are guessed to be <span id="assemb" th:text="${interfaceCommand.assembly}"></span>

                            <button onclick="this.form.submit();" class="btn btn-primary right">Continue</button>

                        </p>

                        <hr />

                        <div id="left">

                            <!--  code from http://experiments.wemakesites.net/css3-treeview-with-multiple-node-selection.html -->
                            <h4>Select cell line(s):</h4>

                            <div class="acidjs-css3-treeview">
                                <ul>
                                    <li>
                                        <input type="checkbox" id="cb_all"/> <!-- Collapse triangle -->
                                        <label>
                                            <input type="checkbox" th:field="*{interfaceCommand.celllines}"
                                                   th:value="${'all'}"/>
                                            <span></span>
                                        </label>
                                        <label for="cb_all">All cell lines</label>

                                        <ul>
                                            <th:block th:each="cellline: ${celllines}">
                                                <li>
                                                    <th:block th:if="${ not #lists.isEmpty(cellline.value)}">
                                                        <input type="checkbox"
                                                               th:id="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"/>
                                                        <!-- Collapse triangle -->
                                                        <label><input type="checkbox" th:field="*{interfaceCommand.celllines}"
                                                                      th:value="*{#strings.replace(cellline.key, ' ', '_')}"/><span></span></label>
                                                        <label th:for="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"
                                                               th:text="${cellline.key}"></label>
                                                    </th:block>

                                                    <th:block th:if="${#lists.isEmpty(cellline.value)}">
                                                        <input type="checkbox"
                                                               th:id="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"/>
                                                        <!-- Collapse triangle -->
                                                        <label><input type="checkbox" th:field="*{interfaceCommand.celllines}"
                                                                      th:value="*{#strings.replace(cellline.key, ' ', '_')}"/><span></span></label>
                                                        <span th:for="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"
                                                              th:text="${cellline.key} " class="pad"></span>
                                                    </th:block>

                                                    <th:block th:if="${ not #lists.isEmpty(cellline.value)}">
                                                        <ul>
                                                            <th:block th:each="inner: ${cellline.value}">
                                                                <li>
                                                                    <input type="checkbox"
                                                                           th:id="'cb_' + ${#strings.replace(inner, ' ', '_')}"/>
                                                                    <!-- Collapse triangle -->
                                                                    <label><input type="checkbox"
                                                                                  th:field="*{interfaceCommand.celllines}"
                                                                                  th:value="*{#strings.replace(inner, ' ', '_')}"/><span></span></label>
                                                                    <span th:for="'cb_' + *{#strings.replace(inner, ' ', '_')}"
                                                                          th:text="${inner}" class="pad"></span>
                                                                </li>
                                                            </th:block>
                                                        </ul>
                                                    </th:block>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div id="right">


                            <!-- Track packages -->

                            <h4>Select annotations to be checked:</h4>
                            <th:block th:each="packName: ${trackPackages}">
                                <div class="checkbox">
                                    <label><input type="checkbox" th:field="*{interfaceCommand.packageNames}"
                                                  th:value="${packName}"
                                                  checked="checked" th:text="${packName}"/></label>

                                </div>
                            </th:block>


                        </div>

                    </form>

                </th:block>


                <th:block th:case="'covariates'">


                    <form method="POST" action="/covariate" id="uploadform">

                        <input th:value="${interfaceCommand.assembly}" th:field="*{interfaceCommand.assembly}"
                               type="hidden"/>
                        <input th:value="${interfaceCommand.celllines}" th:field="*{interfaceCommand.celllines}"
                               type="hidden"/>
                        <input th:value="${interfaceCommand.packageNames}" th:field="*{interfaceCommand.packageNames}"
                               type="hidden"/>

                        <button type="button" onclick="window.history.back();" class="btn btn-default">Back</button>

                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-primary right">Continue</button>

                        <h4>Skip this step if you want a random background. Otherwise upload a file with background sites:</h4>

                        <input type="file" name="file" id="file" class="btn"/>

                        <hr/>
                        <h3>-Or-</h3>

                        <h4>choose Covariates to adapt the background model:</h4>

                        <table class="table table-hover fixed">
                            <th:block th:each="result: ${tracks}">
                                <tr>
                                    <td th:text="${result.name}"></td>
                                    <td th:text="${result.pValue}"></td>
                                    <td th:text="${result.effectSize}"></td>
                                    <td class="bars">
                                        <div class="bar measured" th:style="'width: ' + ${result.percentInM} + '%;'"></div>
                                        <div class="bar expected" th:style="'width: ' + ${result.percentInE} + '%;'"></div>
                                    </td>
                                    <td><input th:field="*{interfaceCommand.covariants}" th:value="${result.id}"
                                               type="checkbox"/></td>
                                </tr>
                            </th:block>
                        </table>

                        <!-- Covariates -->

                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-primary right">Continue</button>
                    </form>
                </th:block>

            </th:block>
        </div>

    </div>

    <label class="coll"><span class="glyphicon glyphicon-info-sign"></span></label>
    <div>

</div>
</div>

<script>
    document.getElementById("file").onchange = function() {
    document.getElementById("uploadform").submit();
};
</script>

<script>
    $(".acidjs-css3-treeview").delegate("label input:checkbox", "change", function () {
        var
            checkbox = $(this),
            nestedList = checkbox.parent().next().next(),
            selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");

        if (checkbox.is(":checked")) {
            return selectNestedListCheckbox.prop("checked", true);
        }
        selectNestedListCheckbox.prop("checked", false);
    });
</script>

</body>
</html>