<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">

    <title>Enhort - Genomic Position Profiling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/batch.css" th:href="@{/css/batch.css}"/>

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="/js/popper.js" th:href="@{/js/popper.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script src="/js/plotly-latest.min.js" th:href="@{/js/plotly-latest.min.js}"></script>
    <script src="/js/d3.min.js" th:href="@{/js/d3.min.js}"></script>

</head>
<body>

<div th:include="header:: bar"></div>

<div id="new" class="bg-info"></div>

<div class="container">

    <div class="row">

        <th:block th:if="not ${ran}">

            <div class="col-8">
                <h4>Batch analysis </h4>
                <span>Compare multiple .bed-files against annotations and display as heatmap</span>
                <br>
                <br>
                <div id="form">

                    <form method="post" id="uploadForm" action="" enctype="multipart/form-data">
                        <p>
                            <label for="files" class="head">Select 2 or more .bed-files for analysis:</label>
                            <br>
                            <input type="file" id="files" name="file[]" multiple="multiple"/>
                            <br>
                            <br>

                        </p>

                        <p>
                            <label for="assem" class="head">Assembly:</label>
                            <br>
                            <select id="assem" name="assembly" class="form-control">
                                <option value="hg19" selected>hg19</option>
                                <option value="GRCh38">hg38</option>
                            </select>
                        </p>

                        <p>
                            <label for="background" class="head">Control sites</label>

                            <span style="color: red;">*</span>

                            <a class="right" title="" data-placement="right" data-toggle="tooltip" href="#"
                               data-original-title="A random background will be created when no background sites are uploaded">&#10068;</a>

                            <br>
                            <input type="file" id="background" name="background" multiple="multiple"/>
                        </p>

                        <p>

                        <div class="form-group">
                            <label class="head">Annotations:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="package" value="Genetic"
                                       id="gencheck" checked/>
                                <label class="form-check-label" for="gencheck">
                                    Genetic
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="package" value="Restr"
                                       id="restcheck"/>
                                <label class="form-check-label" for="restcheck">
                                    Restriction sites
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="package" value="Other"
                                       id="ocheck"/>
                                <label class="form-check-label" for="ocheck">
                                    Other
                                </label>
                            </div>
                        </div>
                        </p>

                        <p>
                        <div class="form-group">
                            <label for="cellline" class="head">Cell line</label>
                            <span style="color: red;">*</span>

                            <select class="form-control" id="cellline" name="cellline">
                                <option value="" selected></option>

                                <th:block th:each="name: ${cellline_names}">
                                    <option th:value="${name}" th:text="${name}"></option>
                                </th:block>
                            </select>

                            <div id="hidden" style="visibility: hidden">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="package" value="Histone"
                                           id="histcheck"/>
                                    <label class="form-check-label" for="histcheck">
                                        Histone modifications
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="package" value="Regulation"
                                           id="regucheck"/>
                                    <label class="form-check-label" for="regucheck">
                                        Regulation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="package" value="Transc"
                                           id="tfbscheck"/>
                                    <label class="form-check-label" for="tfbscheck">
                                        Transcription factor binding sites
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="package" value="Repeats"
                                           id="repcheck"/>
                                    <label class="form-check-label" for="repcheck">
                                        Repeats
                                    </label>
                                </div>

                            </div>
                        </div>
                        </p>

                        <button class="btn btn-primary" type="submit" id="startButton" disabled="disabled">Start
                            analysis
                        </button>
                        <span style="color: red; float: right;">* Optional</span>
                        <span id="info" style="color: red;"></span>
                    </form>
                </div>
            </div>

        </th:block>

        <th:block th:if="${ran}">

            <div class="col-12">


                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#nav1">Heatmap</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav2">Hotspots</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav3">Site counts</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav4">Table</a></li>
                </ul>

                <div class="tab-content">

                    <!-- Tab 1 Overview -->
                    <div id="nav1" class="tab-pane fade show active">

                        <span id="legend">(?)</span>

                        <div id="results">
                            <div id="heatmapDiv" th:style="${'height:'+ #lists.size(tracks) * 50 + 'px'}"></div>
                        </div>
                    </div>

                    <!-- Tab 2 Hotspots -->
                    <div id="nav2" class="tab-pane fade">

                        <div id="hotspots">
                            <th:block th:each="track, iter: ${hotspots}">
                                <div class="hotspots_inner">
                                    <div class="hotspot_name" th:text="${names[iter.index]}"></div>
                                    <th:block th:each="pixel: ${track}">
                                        <div class="hotspot"
                                             th:style="'background-color:hsl(231,100%,' + ${pixel} + '%);'"></div>
                                    </th:block>
                                </div>
                            </th:block>


                            <div id="chrsizes">
                                <th:block th:each="size,iter: ${chrsizes}">
                                    <div class="chrbar" th:style="'width:' +${size} + '%'">
                                        <div th:text="${chrnames[iter.index]}"></div>
                                    </div>
                                </th:block>

                            </div>
                        </div>

                    </div>


                    <!-- Tab 2 Info -->
                    <div id="nav3" class="tab-pane fade">

                        <table class="table table-hover table-condensed table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Number of sites<br></th>
                                <th></th>
                            </tr>
                            <th:block th:each="name, iter: ${names}">
                                <tr>
                                    <td th:text="${name}"></td>
                                    <td th:text="${sizes[iter.index]}"></td>
                                    <td></td>
                                </tr>
                            </th:block>
                            <tr>
                                <td>Background sites</td>
                                <td th:text="${bg_site_count}"></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div id="nav4" class="tab-pane fade">
                        <textarea th:text="${csv}"></textarea>
                    </div>

                </div>

            </div>

        </th:block>

    </div>

</div>

</body>

<th:block th:unless="${ran}">
    <script>
        let f = document.getElementById("files");
        let sub = document.getElementById("startButton");

        f.onchange = function (e) {
            sub.disabled = f.length === 0;
        };


        function has_package() {
            let checkboxes = document.getElementsByTagName("input");

            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked === false) {
                    continue;
                }
                return true;
            }
            return false;
        }

        sub.addEventListener("click", function (e) {
            e.preventDefault();

            if (!has_package()) {
                document.getElementById("info").innerText = "You have to select at least one annotation package."
            } else {
                document.getElementById("uploadForm").submit();
            }
        });

    </script>

    <script>
        $('a').tooltip();


        let e = document.getElementById("cellline");
        let hid = document.getElementById("hidden");

        e.onchange = function () {
            let option = e.options[e.selectedIndex].value;

            if (option === "") {
                hid.style.visibility = "hidden";
            } else {
                hid.style.visibility = "visible";
            }
        };

        e.click();

    </script>

</th:block>


<th:block th:if="${ran}">

    <script th:inline="javascript" async="async">
        /*<![CDATA[*/
        'use strict';

        var results = [[${results}]];
        var yValues = [[${tracks}]]; //track names

        console.log(results);
        console.log(yValues);

        var xValues = []; // .bed filenames
        var zValues = []; // effect sizes
        var pValues = []; // p values

        var counts = [[${integration_counts}]]; //track names

        /* Split list of pairs into two lists for effect sizes and * for p values */
        for (var v in results) {
            xValues.push(v);

            var tmpZ = [];
            var tmpP = [];

            for (let i = 0; i < results[v].length; i++) {
                tmpZ.push(Object.keys(results[v][i])[0]);
                tmpP.push(results[v][i][Object.keys(results[v][i])[0]]);
            }

            zValues.push(tmpZ);
            pValues.push(tmpP);
        }


        // transpose effect size table, from https://stackoverflow.com/a/38325654
        zValues = zValues[0].map(function (col, c) {
            // For each column, iterate all rows
            return zValues.map(function (row, r) {
                return zValues[r][c];
            });
        });
        // end transpose

        var hovers = [];


        for (var idx = 0; idx < zValues.length; idx++) { // iterate over tracks

            var val = zValues[idx];
            var tmp = [];

            for (var idy = 0; idy < val.length; idy++) { // iterate over files
                tmp.push("File: " + xValues[idy] +
                    "<br>Track: " + yValues[idx] +
                    "<br>Log2-Fold-change: " + val[idy] +
                    "<br>P Value: " + counts[idx][idy][8] +
                    "<br><br>" +
                    "<b>" + xValues[idy] + "</b> <i> Inside: </i> " + counts[idx][idy][0] + "(" + counts[idx][idy][4] + "%)" + "<i> Outside: </i>" + counts[idx][idy][1] + "(" + counts[idx][idy][5] + "%)" + "<br>" +
                    "<b>Background</b> <i> Inside: </i> " + counts[idx][idy][2] + "(" + counts[idx][idy][6] + "%)" + "<i> Outside: </i>" + counts[idx][idy][3] + "(" + counts[idx][idy][7] + "%)" + "<br>");
            }

            hovers.push(tmp);
        }

        var data = [{
            x: xValues,
            y: yValues,
            z: zValues,
            zmin: -1,
            zmax: 1,
            type: 'heatmap',
            colorscale: 'RdBu',
            showscale: false,
            autoscale: true,
            text: hovers,
            hoverinfo: 'text',
            align: "right"

        }];

        var layout = {
            autoscale: true,
            annotations: [],
            margin: {
                l: 80
            },
            xaxis: {
                ticks: '',
                side: 'top'
            },
            yaxis: {
                ticks: '',
                ticksuffix: ' '
            },
            font: {
                size: 18
            }
        };

        for (var i = 0; i < yValues.length; i++) {
            for (var j = 0; j < xValues.length; j++) {
                var textColor = 'white';
                var result = {
                    xref: 'x1',
                    yref: 'y1',
                    x: xValues[j],
                    y: yValues[i],
                    text: zValues[i][j] + " " + pValues[j][i], // inverted i and j because pValues is not transposed
                    font: {
                        family: 'Arial',
                        size: 18,
                        color: textColor
                    },
                    showarrow: false
                };
                layout.annotations.push(result);
            }
        }
        console.log(data);

        Plotly.newPlot('heatmapDiv', data, layout, {displayModeBar: false});

    </script>
</th:block>
</html>