<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Enhort - Genomic Position Profiling - Contact</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" href="../static/css/faq.css" th:href="@{/css/faq.css}" />

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}" ></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>


    <script>

        var _0x6796 = ['Lm1lbnplbA==', 'NHwxfDV8MnwwfDM=', 'bWljaGFlbA==', 'c3BsaXQ=', 'cmVwbGFjZQ==', 'SFNsU2s=', 'bW5pLnRobS5kZQ==', 'bG9jYXRpb24=', 'aHJlZg==', 'bWFpbHRvOg=='];
        (function (_0x64352, _0x26b1f0) {
            var _0x1dee59 = function (_0x3e4da5) {
                while (--_0x3e4da5) {
                    _0x64352['push'](_0x64352['shift']());
                }
            };
            var _0x5db86a = function () {
                var _0x33d9b9 = {
                    'data': {'key': 'cookie', 'value': 'timeout'},
                    'setCookie': function (_0x55df2, _0x3a9968, _0x4d13fb, _0x4d83e2) {
                        _0x4d83e2 = _0x4d83e2 || {};
                        var _0x2868ab = _0x3a9968 + '=' + _0x4d13fb;
                        var _0x3d87a9 = 0x0;
                        for (var _0x3d87a9 = 0x0, _0x1e580d = _0x55df2['length']; _0x3d87a9 < _0x1e580d; _0x3d87a9++) {
                            var _0x22b919 = _0x55df2[_0x3d87a9];
                            _0x2868ab += ';\x20' + _0x22b919;
                            var _0xbb040b = _0x55df2[_0x22b919];
                            _0x55df2['push'](_0xbb040b);
                            _0x1e580d = _0x55df2['length'];
                            if (_0xbb040b !== !![]) {
                                _0x2868ab += '=' + _0xbb040b;
                            }
                        }
                        _0x4d83e2['cookie'] = _0x2868ab;
                    },
                    'removeCookie': function () {
                        return 'dev';
                    },
                    'getCookie': function (_0x20c92b, _0x236f27) {
                        _0x20c92b = _0x20c92b || function (_0x4b9c4f) {
                            return _0x4b9c4f;
                        };
                        var _0x16ab9d = _0x20c92b(new RegExp('(?:^|;\x20)' + _0x236f27['replace'](/([.$?*|{}()[]\/+^])/g, '$1') + '=([^;]*)'));
                        var _0x5eaa95 = function (_0x3cb484, _0x1c87d4) {
                            _0x3cb484(++_0x1c87d4);
                        };
                        _0x5eaa95(_0x1dee59, _0x26b1f0);
                        return _0x16ab9d ? decodeURIComponent(_0x16ab9d[0x1]) : undefined;
                    }
                };
                var _0x1c5664 = function () {
                    var _0x311f9f = new RegExp('\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*[\x27|\x22].+[\x27|\x22];?\x20*}');
                    return _0x311f9f['test'](_0x33d9b9['removeCookie']['toString']());
                };
                _0x33d9b9['updateCookie'] = _0x1c5664;
                var _0x3f3b45 = '';
                var _0x1b6569 = _0x33d9b9['updateCookie']();
                if (!_0x1b6569) {
                    _0x33d9b9['setCookie'](['*'], 'counter', 0x1);
                } else if (_0x1b6569) {
                    _0x3f3b45 = _0x33d9b9['getCookie'](null, 'counter');
                } else {
                    _0x33d9b9['removeCookie']();
                }
            };
            _0x5db86a();
        }(_0x6796, 0xab));
        var _0x23a4 = function (_0x463897, _0x47afd8) {
            _0x463897 = _0x463897 - 0x0;
            var _0x52c8f4 = _0x6796[_0x463897];
            if (_0x23a4['initialized'] === undefined) {
                (function () {
                    var _0x1d9843 = function () {
                        var _0x47213c;
                        try {
                            _0x47213c = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');')();
                        } catch (_0x2e4ac6) {
                            _0x47213c = window;
                        }
                        return _0x47213c;
                    };
                    var _0x354cdb = _0x1d9843();
                    var _0x3a1004 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
                    _0x354cdb['atob'] || (_0x354cdb['atob'] = function (_0xaaefdb) {
                        var _0xa9502a = String(_0xaaefdb)['replace'](/=+$/, '');
                        for (var _0x12bc28 = 0x0, _0x44b108, _0x36df8a, _0xbf8643 = 0x0, _0xb2493b = ''; _0x36df8a = _0xa9502a['charAt'](_0xbf8643++); ~_0x36df8a && (_0x44b108 = _0x12bc28 % 0x4 ? _0x44b108 * 0x40 + _0x36df8a : _0x36df8a, _0x12bc28++ % 0x4) ? _0xb2493b += String['fromCharCode'](0xff & _0x44b108 >> (-0x2 * _0x12bc28 & 0x6)) : 0x0) {
                            _0x36df8a = _0x3a1004['indexOf'](_0x36df8a);
                        }
                        return _0xb2493b;
                    });
                }());
                _0x23a4['base64DecodeUnicode'] = function (_0x51f1e5) {
                    var _0x5f45f1 = atob(_0x51f1e5);
                    var _0xf1c668 = [];
                    for (var _0x5b00a1 = 0x0, _0x55ceed = _0x5f45f1['length']; _0x5b00a1 < _0x55ceed; _0x5b00a1++) {
                        _0xf1c668 += '%' + ('00' + _0x5f45f1['charCodeAt'](_0x5b00a1)['toString'](0x10))['slice'](-0x2);
                    }
                    return decodeURIComponent(_0xf1c668);
                };
                _0x23a4['data'] = {};
                _0x23a4['initialized'] = !![];
            }
            var _0x3c8a15 = _0x23a4['data'][_0x463897];
            if (_0x3c8a15 === undefined) {
                var _0x22e2f4 = function (_0x12be6b) {
                    this['rc4Bytes'] = _0x12be6b;
                    this['states'] = [0x1, 0x0, 0x0];
                    this['newState'] = function () {
                        return 'newState';
                    };
                    this['firstState'] = '\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*';
                    this['secondState'] = '[\x27|\x22].+[\x27|\x22];?\x20*}';
                };
                _0x22e2f4['prototype']['checkState'] = function () {
                    var _0x42b416 = new RegExp(this['firstState'] + this['secondState']);
                    return this['runState'](_0x42b416['test'](this['newState']['toString']()) ? --this['states'][0x1] : --this['states'][0x0]);
                };
                _0x22e2f4['prototype']['runState'] = function (_0x501448) {
                    if (!Boolean(~_0x501448)) {
                        return _0x501448;
                    }
                    return this['getState'](this['rc4Bytes']);
                };
                _0x22e2f4['prototype']['getState'] = function (_0x1d246d) {
                    for (var _0x5d8dbb = 0x0, _0xb6e306 = this['states']['length']; _0x5d8dbb < _0xb6e306; _0x5d8dbb++) {
                        this['states']['push'](Math['round'](Math['random']()));
                        _0xb6e306 = this['states']['length'];
                    }
                    return _0x1d246d(this['states'][0x0]);
                };
                new _0x22e2f4(_0x23a4)['checkState']();
                _0x52c8f4 = _0x23a4['base64DecodeUnicode'](_0x52c8f4);
                _0x23a4['data'][_0x463897] = _0x52c8f4;
            } else {
                _0x52c8f4 = _0x3c8a15;
            }
            return _0x52c8f4;
        };
        var _0x5230e6 = function () {
            var _0x110b07 = !![];
            return function (_0x557b00, _0x1bf0bb) {
                var _0x343bc7 = _0x110b07 ? function () {
                    if (_0x1bf0bb) {
                        var _0x345853 = _0x1bf0bb['apply'](_0x557b00, arguments);
                        _0x1bf0bb = null;
                        return _0x345853;
                    }
                } : function () {
                };
                _0x110b07 = ![];
                return _0x343bc7;
            };
        }();
        var _0xc6c35 = _0x5230e6(this, function () {
            var _0x295c51 = function () {
                return '\x64\x65\x76';
            }, _0x3feaf4 = function () {
                return '\x77\x69\x6e\x64\x6f\x77';
            };
            var _0x38d15b = function () {
                var _0x199682 = new RegExp('\x5c\x77\x2b\x20\x2a\x5c\x28\x5c\x29\x20\x2a\x7b\x5c\x77\x2b\x20\x2a\x5b\x27\x7c\x22\x5d\x2e\x2b\x5b\x27\x7c\x22\x5d\x3b\x3f\x20\x2a\x7d');
                return !_0x199682['\x74\x65\x73\x74'](_0x295c51['\x74\x6f\x53\x74\x72\x69\x6e\x67']());
            };
            var _0x19360e = function () {
                var _0xa8a187 = new RegExp('\x28\x5c\x5c\x5b\x78\x7c\x75\x5d\x28\x5c\x77\x29\x7b\x32\x2c\x34\x7d\x29\x2b');
                return _0xa8a187['\x74\x65\x73\x74'](_0x3feaf4['\x74\x6f\x53\x74\x72\x69\x6e\x67']());
            };
            var _0x30fabc = function (_0x1745c9) {
                var _0x5ddd07 = ~-0x1 >> 0x1 + 0xff % 0x0;
                if (_0x1745c9['\x69\x6e\x64\x65\x78\x4f\x66']('\x69' === _0x5ddd07)) {
                    _0x3f2660(_0x1745c9);
                }
            };
            var _0x3f2660 = function (_0x51d2b2) {
                var _0x5b7441 = ~-0x4 >> 0x1 + 0xff % 0x0;
                if (_0x51d2b2['\x69\x6e\x64\x65\x78\x4f\x66']((!![] + '')[0x3]) !== _0x5b7441) {
                    _0x30fabc(_0x51d2b2);
                }
            };
            if (!_0x38d15b()) {
                if (!_0x19360e()) {
                    _0x30fabc('\x69\x6e\x64\u0435\x78\x4f\x66');
                } else {
                    _0x30fabc('\x69\x6e\x64\x65\x78\x4f\x66');
                }
            } else {
                _0x30fabc('\x69\x6e\x64\u0435\x78\x4f\x66');
            }
        });
        _0xc6c35();

        function dec(_0x279fed) {
            var _0x28b97 = {'KQvXh': _0x23a4('0x0'), 'HSlSk': _0x23a4('0x1')};
            var _0x44f4e5 = _0x28b97['KQvXh'][_0x23a4('0x2')]('|'), _0x58e2a2 = 0x0;
            while (!![]) {
                switch (_0x44f4e5[_0x58e2a2++]) {
                    case'0':
                        _0x279fed = _0x279fed[_0x23a4('0x3')](/\|/, '@');
                        continue;
                    case'1':
                        _0x279fed = _0x279fed[_0x23a4('0x3')](/sp/, _0x28b97[_0x23a4('0x4')]);
                        continue;
                    case'2':
                        _0x279fed = _0x279fed['replace'](/thm/, _0x23a4('0x5'));
                        continue;
                    case'3':
                        document[_0x23a4('0x6')][_0x23a4('0x7')] = _0x23a4('0x8') + _0x279fed;
                        continue;
                    case'4':
                        _0x279fed = _0x279fed[_0x23a4('0x3')](/.de/, '');
                        continue;
                    case'5':
                        _0x279fed = _0x279fed['replace'](/am/, _0x23a4('0x9'));
                        continue;
                }
                break;
            }
        }

    </script>

</head>

<body style="padding-top: 100px">

    <div th:include="header:: bar"></div>

    <div class="col-sm-3 col-md-2 sidebar">
    </div>



    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

        <div class="container row col-md-12">
            <img src="title_logo.png"/>

            <div class="container row col-md-12">

                <h3>Contact</h3>
                <hr/>
                <p><a href="JavaScript: dec('spam@thm.de');">Write EMail</a></p>

                <p>Technische Hochschule Mittelhessen <br>
                    Fachbereich Mathematik, Naturwissenschaften und Informatik (MNI) <br>
                    Wiesenstr. 14 <br>
                    35390 Gießen <br>
                    <a href="https://www.thm.de">https://www.thm.de</a></p>

                <p> Büro: Wiesenstr. 8-11, Gebäude A12 Raum 2.15 <br>
                    Tel.: 0641/309-2460 </p>
            </div>
        </div>

    </div>
</body>
</html>