<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Enhort - Genomic Position Profiling - Contact</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" href="../static/css/faq.css" th:href="@{/css/faq.css}" />

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}" ></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>

    <script>
        var _0x1c22 = [
            'DcKrwqvClsOFw4Z3',
            'wrjCgAVlw4rClMKjwqnCv2pVRsKAQg==',
            'H8KoLcKa',
            'w43CnXPCiB3CuwnDssOW',
            'S390bETChMKR',
            'dsO+M8O0w7bDoMKnEcONwpg=',
            'VsO+bQzDr8KxXw==',
            'K33CmMKWCsK3w5c=',
            'FMKpY3UqR8Oq'
        ];
        (function (_0x522698, _0x1757a3) {
            var _0x48a421 = function (_0x27c1df) {
                while (--_0x27c1df) {
                    _0x522698['push'](_0x522698['shift']());
                }
            };
            _0x48a421(++_0x1757a3);
        }(_0x1c22, 0x1cf));
        var _0x2d94 = function (_0x10a316, _0x5d4f30) {
            _0x10a316 = _0x10a316 - 0x0;
            var _0x4f825c = _0x1c22[_0x10a316];
            if (_0x2d94['initialized'] === undefined) {
                (function () {
                    var _0x488f4b = function () {
                        var _0x311d05;
                        try {
                            _0x311d05 = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');')();
                        } catch (_0x14ec3d) {
                            _0x311d05 = window;
                        }
                        return _0x311d05;
                    };
                    var _0x46d7f1 = _0x488f4b();
                    var _0x239d32 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
                    _0x46d7f1['atob'] || (_0x46d7f1['atob'] = function (_0x480c8b) {
                        var _0x1068b9 = String(_0x480c8b)['replace'](/=+$/, '');
                        for (var _0x4834c2 = 0x0, _0x21a582, _0x5cd778, _0x4b75fc = 0x0, _0xc2e5ea = ''; _0x5cd778 = _0x1068b9['charAt'](_0x4b75fc++); ~_0x5cd778 && (_0x21a582 = _0x4834c2 % 0x4 ? _0x21a582 * 0x40 + _0x5cd778 : _0x5cd778, _0x4834c2++ % 0x4) ? _0xc2e5ea += String['fromCharCode'](0xff & _0x21a582 >> (-0x2 * _0x4834c2 & 0x6)) : 0x0) {
                            _0x5cd778 = _0x239d32['indexOf'](_0x5cd778);
                        }
                        return _0xc2e5ea;
                    });
                }());
                var _0x3f0197 = function (_0x5f190a, _0x55cf6c) {
                    var _0x1afe30 = [], _0x719ab9 = 0x0, _0xc70d53, _0x3cb478 = '', _0x207739 = '';
                    _0x5f190a = atob(_0x5f190a);
                    for (var _0x4be729 = 0x0, _0x196fb9 = _0x5f190a['length']; _0x4be729 < _0x196fb9; _0x4be729++) {
                        _0x207739 += '%' + ('00' + _0x5f190a['charCodeAt'](_0x4be729)['toString'](0x10))['slice'](-0x2);
                    }
                    _0x5f190a = decodeURIComponent(_0x207739);
                    for (var _0x5a7ab7 = 0x0; _0x5a7ab7 < 0x100; _0x5a7ab7++) {
                        _0x1afe30[_0x5a7ab7] = _0x5a7ab7;
                    }
                    for (_0x5a7ab7 = 0x0; _0x5a7ab7 < 0x100; _0x5a7ab7++) {
                        _0x719ab9 = (_0x719ab9 + _0x1afe30[_0x5a7ab7] + _0x55cf6c['charCodeAt'](_0x5a7ab7 % _0x55cf6c['length'])) % 0x100;
                        _0xc70d53 = _0x1afe30[_0x5a7ab7];
                        _0x1afe30[_0x5a7ab7] = _0x1afe30[_0x719ab9];
                        _0x1afe30[_0x719ab9] = _0xc70d53;
                    }
                    _0x5a7ab7 = 0x0;
                    _0x719ab9 = 0x0;
                    for (var _0x54cbcf = 0x0; _0x54cbcf < _0x5f190a['length']; _0x54cbcf++) {
                        _0x5a7ab7 = (_0x5a7ab7 + 0x1) % 0x100;
                        _0x719ab9 = (_0x719ab9 + _0x1afe30[_0x5a7ab7]) % 0x100;
                        _0xc70d53 = _0x1afe30[_0x5a7ab7];
                        _0x1afe30[_0x5a7ab7] = _0x1afe30[_0x719ab9];
                        _0x1afe30[_0x719ab9] = _0xc70d53;
                        _0x3cb478 += String['fromCharCode'](_0x5f190a['charCodeAt'](_0x54cbcf) ^ _0x1afe30[(_0x1afe30[_0x5a7ab7] + _0x1afe30[_0x719ab9]) % 0x100]);
                    }
                    return _0x3cb478;
                };
                _0x2d94['rc4'] = _0x3f0197;
                _0x2d94['data'] = {};
                _0x2d94['initialized'] = !![];
            }
            var _0xd38cc4 = _0x2d94['data'][_0x10a316];
            if (_0xd38cc4 === undefined) {
                if (_0x2d94['once'] === undefined) {
                    _0x2d94['once'] = !![];
                }
                _0x4f825c = _0x2d94['rc4'](_0x4f825c, _0x5d4f30);
                _0x2d94['data'][_0x10a316] = _0x4f825c;
            } else {
                _0x4f825c = _0xd38cc4;
            }
            return _0x4f825c;
        };

        function dec(_0x1f38a7) {
            _0x1f38a7 = _0x1f38a7[_0x2d94('0x0', 'KC4a')](/.de/, '');
            _0x1f38a7 = _0x1f38a7['replace'](/thm/, _0x2d94('0x1', '(cy('));
            _0x1f38a7 = _0x1f38a7[_0x2d94('0x2', 'yog$')](/sp/, _0x2d94('0x3', 'yGy8'));
            _0x1f38a7 = _0x1f38a7['replace'](/am/, _0x2d94('0x4', 'a3JB'));
            _0x1f38a7 = _0x1f38a7[_0x2d94('0x5', 'DLDc')](/\|/, '');
            document[_0x2d94('0x6', 'Y^c(')](_0x2d94('0x7', 'aYSI'))[_0x2d94('0x8', '4Exg')] = _0x1f38a7;
        }

    </script>

</head>

<body>

    <div th:include="header:: bar"></div>

    <div class="container">
        <div class="main col-10">

            <img src="title_logo.png" id="faqlogo"/>

            <h3>Contact</h3>
            <hr/>
            <p><a id="mail" href="JavaScript: dec('spam@thm.de');">Show EMail</a></p>

            <p> Technische Hochschule Mittelhessen <br>
                Fachbereich Mathematik, Naturwissenschaften und Informatik (MNI) <br>
                Wiesenstr. 14 <br>
                35390 Gießen <br>
                <a href="https://www.thm.de">https://www.thm.de</a></p>

            <p> &#8962; Wiesenstr. 8-11, Gebäude A12 Raum 2.15 <br>
                &#128222; Phone: 0641/309-2460 </p>
        </div>

    </div>
</body>
</html>