<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

  <body>

  <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>

    <div th:fragment="bar">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Enhort</a>

            <a class="navbar-brand" rel="home" href="/" title="logo">
                <div id="logo_eihort"></div>
            </a>

            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/wiz">Guided Analysis</a></li>
                  <li><a href="/data">Data Table</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>

            <a class="navbar-brand navbar-right" rel="home" href="/" title="logo">
                <img id="logo" src="/THM_Logo_RGB.gif"/>
            </a>
          </div>

        </nav>
    </div>
  </body>
</html>