<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

  <body>

  <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>

    <div th:fragment="bar">

        <nav class="navbar navbar-expand-lg navbar-dark py-0 mb-5"
             style="background-color: #252525; padding-left: 200px">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">Enhort</a>

            <a class="navbar-brand" rel="home" href="/" title="logo">
                <div id="logo_eihort"></div>
            </a>

            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/upload">Results</a>
                    <a class="nav-item nav-link" href="/wiz">Guided Analysis</a>
                    <a class="nav-item nav-link" href="/batch">Batch analysis</a>
                    <a class="nav-item nav-link" href="/data">Data Table</a>
                    <a class="nav-item nav-link" href="/statistics">Statistics</a>
                    <a class="nav-item nav-link" href="/faq">FAQ</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link" href="https://www.thm.de/site/impressum.html">Impressum</a>
                    <a class="nav-item nav-link" href="https://www.thm.de/site/datenschutz.html">Data protection</a>

                </div>
            </div>


            <a class="navbar-brand navbar-right" rel="thm" href="https://www.thm.de" title="logo">
                <img id="logo" src="/THM_Logo_RGB.gif"/>
            </a>

        </nav>
    </div>
  </body>
</html>