<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Enhort - Genomic Position Profiling - Guided Analysis</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/result.css" th:href="@{/css/result.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/celllinetree.css" th:href="@{/css/celllinetree.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/wizard.css" th:href="@{/css/wizard.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/data.css" th:href="@{/css/data.css}"/>

    <script src="/js/popper.js" th:href="@{/js/popper.js}"></script>
    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

</head>

<body>

<div th:include="header:: bar"></div>

<div class="container">
    <div class="row">
        <div class="col-11">


            <div id="wizardheader">

                <th:block th:switch="${page}">
                    <th:block th:case="'upload'">

                        Guided analysis &nbsp; &nbsp; &nbsp; Upload a .bed-file and specify the annotations you want to
                        test.

                    </th:block>
                    <th:block th:case="'tracks'">
                        Guided analysis &nbsp; &nbsp; &nbsp; Select annotations to test your sites against
                    </th:block>
                </th:block>

            </div>

            <th:block th:if="${message != null}">
            <div class="bg-danger" th:text="${message}"></div>
        </th:block>

        <div id="wizardouter">

            <th:block th:switch="${page}">
                <th:block th:case="'upload'">
                    <p>Please upload a .bed-file with genomic positions:</p>
                    <div class="box">
                        <form method="POST" enctype="multipart/form-data" action="/wizfile" id="uploadform">
                            <!-- Bed file -->
                            <div>
                                <input type="file" name="file" id="file" class="btn"/>
                                <button onclick="this.disabled=true;this.form.submit();" class="btn" id="uploadbtn">
                                    Upload file
                                </button>
                            </div>

                        </form>
                    </div>
                </th:block>


                <th:block th:case="'tracks'">

                    <form method="POST" action="/wizresult" id="uploadform" th:object="${interfaceCommand}">

                        <div id="file"><!-- prevent js type error null --></div>

                        <div id="header_out">
                            <!-- Assembly -->

                            <div id="header_in1">
                                Assembly <span th:text="${interfaceCommand.assembly}"></span></button>
                            </div>

                            <div id="header_in2">
                                <button id="submitTracks" onclick="this.form.submit();" class="btn btn-primary right">
                                    Run analysis
                                </button>
                                <button class="btn btn-default right" id="clearbtn_wiz">Clear</button>
                            </div>
                        </div>

                        <hr />
                        <div id="counter">0 tracks selected</div>

                        <div class="wrapper1">
                            <div class="div1"></div>
                        </div>
                        <div class="wrapper2">
                            <div class="div2">

                                <div id="datatable" class="table-responsive">
                                    <table id="maintable" class="table table-hover">

                                        <col width="200"/>
                                        <th:block th:each="track: ${trackNames}">
                                            <col width="15"/>
                                        </th:block>


                                        <thead>
                                        <tr>
                                            <th class="noborder"><!-- Cell line column--></th>
                                            <th:block th:each="track: ${trackNames}">
                                                <th class="colheader"><div class="trackname" th:text="${track}" th:title="${track}"></div></th>
                                            </th:block>
                                        </tr>
                                        </thead>

                                        <th:block th:if="${#lists.isEmpty(celllines)}">

                                            <div id="error" class="bg-danger">
                                                No annotation data from the backend server, please try again in a few minutes.
                                            </div>
                                        </th:block>

                                        <tbody>
                                        <th:block th:each="cl, iter: ${celllines}">
                                                <tr class="clrow">
                                                    <td class="rowheader" th:text="${cl}"></td>


                                                    <th:block th:each="value, trackiter: ${ids[iter.index]}">

                                                        <td class="row" th:if="${value != -1}"><input class="check"
                                                                                                      type="checkbox"
                                                                                                      th:field="${interfaceCommand.tracks}"
                                                                                                      th:value="${value}"
                                                                                                      th:title="${'Track '+ trackNames[trackiter.index] + ' for ' + cl}"/>
                                                        </td>
                                                        <td class="row" th:if="${value == -1}"></td>
                                                    </th:block>
                                                </tr>

                                        </th:block>

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                        <input class="check" type="checkbox" title="Sequence Logo" th:field="${interfaceCommand.logo}"/>
                        Sequence Logo
                    </form>

                </th:block>
            </th:block>


        </div>

    </div>

        <div class="col-1">
            <img id="wizard" src="title_logo_wizard.png"/>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('.wrapper1').on('scroll', function (e) {
            $('.wrapper2').scrollLeft($('.wrapper1').scrollLeft());
        });
        $('.wrapper2').on('scroll', function (e) {
            $('.wrapper1').scrollLeft($('.wrapper2').scrollLeft());
        });
    });
    $(window).on('load', function (e) {
        $('.div1').width($('table').width());
        $('.div2').width($('table').width());
    });

</script>

<script>
    document.getElementById("submitTracks").disabled = true;
</script>

<script>
    document.getElementById("file").onchange = function() {
        document.getElementById("uploadform").submit();
    };
</script>


<script>

    function count() {
        var counter = 0;

        $("input[type='checkbox']").each(function (id, box) {
            if(box.checked === true)
                counter++;
        });

        document.getElementById("counter").innerHTML = counter + " tracks selected";

        if(counter > 0)
            document.getElementById("submitTracks").disabled = false;
        if (counter === 0)
            document.getElementById("submitTracks").disabled = true;
    }

    count(); //count once at loading to get tracks selected by session
    document.getElementById("datatable").onclick = function () {
        count();
    }
</script>

<script src="/js/celltable.js" th:href="@{/js/celltable.js}" ></script>

<script>
    document.getElementById("clearbtn_wiz").onclick = function (event) {

        document.getElementById("submitTracks").disabled = true;

        event.preventDefault();

        $("input[type='checkbox']").each(function (id, box) {
            box.checked = false;
        });

        document.getElementById("counter").innerHTML = "0 tracks selected";
    }

</script>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'

        });
    });

    $('.checked').prop('checked', true);

</script>

<script>
    document.getElementById("maintable").setAttribute("style", "display: table")
</script>

</body>
</html>