<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">


  <body>
      <div th:fragment="celllines">

        <!-- Modal -->
        <div class="modal fade" id="celllines" tabindex="-1" role="dialog" aria-labelledby="label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="label">Cell lines</h4>
              </div>
              <div class="modal-body">

                <!--  code from http://experiments.wemakesites.net/css3-treeview-with-multiple-node-selection.html -->
                <div class="acidjs-css3-treeview">
                   <ul>
                   <li>
                        <input type="checkbox" id="cb_all" checked="checked"/> <!-- Collapse triangle -->
                        <label>
                            <input type="checkbox" form="covariate_form" th:field="*{interfaceCommand.celllines}" th:value="${'all'}"/>
                            <span></span>
                        </label>
                        <label for="cb_all">(De-)Select all</label>

                        <ul>
                            <th:block th:each="cellline: ${celllines}">
                                <li>
                                    <th:block th:if="${ not #lists.isEmpty(cellline.value)}">
                                        <input type="checkbox" th:id="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"/> <!-- Collapse triangle -->
                                        <label><input type="checkbox" form="covariate_form" th:field="*{interfaceCommand.celllines}" th:value="*{#strings.replace(cellline.key, ' ', '_')}"/><span></span></label>
                                        <label th:for="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}" th:text="${cellline.key}"></label>
                                    </th:block>

                                    <th:block th:if="${#lists.isEmpty(cellline.value)}">
                                        <input type="checkbox" th:id="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}"/> <!-- Collapse triangle -->
                                        <label><input type="checkbox" form="covariate_form" th:field="*{interfaceCommand.celllines}" th:value="*{#strings.replace(cellline.key, ' ', '_')}"/><span></span></label>
                                        <span th:for="'cb_' + *{#strings.replace(cellline.key, ' ', '_')}" th:text="${cellline.key} " class="pad"></span>
                                    </th:block>

                                    <th:block th:if="${ not #lists.isEmpty(cellline.value)}">
                                        <ul>
                                        <th:block th:each="inner: ${cellline.value}">
                                            <li>
                                                <input type="checkbox" th:id="'cb_' + ${#strings.replace(inner, ' ', '_')}"/> <!-- Collapse triangle -->
                                                <label><input type="checkbox" form="covariate_form" th:field="*{interfaceCommand.celllines}" th:value="*{#strings.replace(inner, ' ', '_')}"/><span></span></label>
                                                <span th:for="'cb_' + *{#strings.replace(inner, ' ', '_')}" th:text="${inner}" class="pad"></span>
                                            </li>
                                        </th:block>
                                        </ul>
                                    </th:block>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                    </ul>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      <script>
          $(".acidjs-css3-treeview").delegate("label input:checkbox", "change", function() {
              var
                  checkbox = $(this),
                  nestedList = checkbox.parent().next().next(),
                  selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");

              if(checkbox.is(":checked")) {
                  return selectNestedListCheckbox.prop("checked", true);
              }
              selectNestedListCheckbox.prop("checked", false);
          });
      </script>

      </div>

  </body>

</html>